<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Restaurant_Otomasyonu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Restaurant.Properties.Settings.RestaurantOtomasyonu"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=RestaurantOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Restaurant.Properties.Settings.ADSConnectionString"
            connectionString="Data Source=ASUS-BILGISAYAR\SQLEXPRESS;Initial Catalog=ADS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Restaurant.Properties.Settings.ADSCon" connectionString="Data Source=ASUS-PC\SQLEXPRESS;Initial Catalog=ADS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="bag" connectionString="XpoProvider=MSSqlServer;data source=.\SQLEXPRESS;integrated security=SSPI;initial catalog=ADS" />
        <add name="ADSCon" connectionString="XpoProvider=MSSqlServer;data source=ASUS-PC\SQLEXPRESS;integrated security=SSPI;initial catalog=ADS" />
        <add name="Kasa" connectionString="XpoProvider=MSSqlServer;data source=ASUS-PC\SQLEXPRESS;integrated security=SSPI;initial catalog=ADS" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Restaurant_Otomasyonu.Properties.Settings>
            <setting name="Baglanti" serializeAs="String">
                <value>Data Source=(local)\SQLEXPRESS; Integrated Security=True; Initial Catalog=ADS</value>
            </setting>
        </Restaurant_Otomasyonu.Properties.Settings>
    </userSettings>
</configuration>
